<form role="form">
    <div data-container="characteristics">
        {{#each options.characteristicsPool as |characteristic index|}}
            <label class="d-block">
                Characteristic:
                <select name="characteristics_pool[]">
                    {{#select characteristic.source}}
                    <option value=""></option>
                        {{#each ../characteristics as |source| }}
                            <option value="{{ source.id }}">{{ source.name }}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>
        {{/each}}

        {{#each options.constantsPool as |constant index|}}
            <div>
                {{#if constant.value}}
                    <strong>{{ constant.text }}</strong>: {{ constant.value }}
                {{/if}}
            </div>
        {{/each}}

        <label class="d-block">
            Characteristic:
            <select name="characteristics_pool[]">
                <option value=""></option>
                {{#each characteristics as |source| }}
                    <option value="{{ source.id }}">{{ source.name }}</option>
                {{/each}}
            </select>
        </label>
    </div>

    <label style="display: block;" class="mb-1">
        <span>Modifier:</span>
        <input class="numeric-input" type="number" name="modifier" value="0" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Untrained:</span>
        <input type="checkbox" name="untrained" value="1" {{checked options.untrained}} />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Specialisation:</span>
        <input type="checkbox" name="specialty" value="1" {{checked options.specialty}} />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Expertise:</span>
        <input type="checkbox" name="expertise" value="1" {{checked options.expertise}} />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Ignore wound penalties:</span>
        <input type="checkbox" name="ignoreWoundPenalties" value="1" {{checked options.ignoreWoundPenalties}} />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Wild dice:</span>
        <input type="number" name="wildDice" value="{{ options.wildDice }}" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>6's explode:</span>
        <input type="checkbox" name="sixesExplode" value="1" {{checked options.sixesExplode }}/>
    </label>

    <label style="display: block;" class="mb-1">
        <span>2's Glitch:</span>
        <input type="checkbox" name="twosGlitch" value="1" {{checked options.twosGlitch}} />
    </label>
</form>