.die {
    display: inline-block;
    margin: 2px;
    border: 1px solid black;
    padding: 0 4px;
}

.die-wild {
    background-color: purple;
    color: white;
}

.die-glitch {
    background-color: red;
}

.die-hit {
    background-color: green;
}

.roll-glitch {
    color: red;
}

.roll-critical-glitch {
    color: red;
    font-weight: bold;
}

.roll-success {
    color: green;
}

.roll-failed {

}