/*
Layout
*/
.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.col-4 {
    flex-grow: 0;
    width: 33%;
}

.col-8 {
    flex-grow: 0;
    width: 66%;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.border-1 {
    border: 1px solid black;
}

.border-left-1 {
    border-left: 1px solid black;
}

.p-1 {
    padding: 5px;
}

.d-block {
    display: block;
}

label.d-block {
    margin-bottom: 10px;
}

/*
Button grids (skills, equipment etc)
 */
.button-grid {
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.grid-buttons {
    flex-grow: 0;
}

.grid-content {
    flex-grow: 1;
    line-height: 2.5em;
}

.btn-sm {
    display: inline-block;
    margin-right: 2px;
    width: auto;
}

/*
Form styles
*/
input.numeric-input {
    width: 2em;
}

input.formula-input {
    width: 50px;
}

textarea {
    min-height: 75px;
}