.alert {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.alert-warning {
    background-color: #c9c96c;
    color: black;
}

.kv {
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: max-content auto;
}

.kv-key {
    grid-column-start: 1;
    grid-column-end: 1;
}

.kv-key-for-input {
    grid-column-start: 1;
    grid-column-end: 1;
    line-height: 1.5em;
}

.kv-value {
    grid-column-start: 2;
    grid-column-end: 2;
}