.character-sheet .tabs,
.character-sheet .item-tabs,
.character-sheet .sub-tabs {
    display: flex;
}

.character-sheet .tabs .item,
.character-sheet .item-tabs .item,
.character-sheet .sub-tabs .item {
    flex-grow: 0;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
}

.character-sheet .tabs .item.active,
.character-sheet .item-tabs .item.active,
.character-sheet .sub-tabs .item.active {
    text-shadow: 0 0 10px red;
    border-bottom: 1px solid #111;
}
