h2 {
    border-bottom: none;
}

.unequipped {
    color: #999;
}

.window-app .window-content {
    background: rgba(50, 50, 75, 0.6);
}

option {
    background: rgba(50, 50, 75, 0.6);
}

.window-app .window-content,
.window-app .window-content button,
.window-app .window-content input,
.window-app .window-content textarea,
.window-app .window-content select {
    color: #ddd;
}
