<div class="col-armour mb-2">
    <table>
        {{#if isEditable}}
        <tr>
            <th>Armour</th>
            <th>Defense Rating</th>
            <th style="text-align: right">
                <button
                        class="btn-sm btn-new"
                        type="button"
                        data-action="add-item"
                        data-item-type="armour"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </th>
        </tr>
        {{/if}}

        {{#if items.armour.length}}
            {{#each items.armour as |item index|}}
                <tr class="{{ item.data.data.derived.classes }}">
                    <td>
                        {{ item.data.name }}
                    </td>

                    <td>{{ item.data.data.defense_rating }}</td>
                    <td style="text-align: right">
                        {{#if ../isEditable}}
                        <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="4" style="font-style: italic">No armour</td>
            </tr>
        {{/if}}
    </table>
</div>