<div class="col-attributes mb-2">
    <h2>
        Attributes
    </h2>

    <table>
        {{#each attributes as |row|}}
            <tr>
                {{#each row as |attribute|}}
                    <td>

                    </td>
                    <td style="text-align: right">
                        <label for="attribute_{{ attribute.name }}" style="display: inline-block; margin-right: 5px;">
                            {{ attribute.name }}
                        </label>
                        {{#if ../../isEditable}}
                        <button class="btn-sm btn-roll" data-action="roll" data-pool="attributes.{{ attribute.name }}" data-text="{{ attribute.name }}" type="button">
                            <i class="fas fa-dice"></i>
                        </button>
                        {{/if}}
                    </td>
                    <td>
                            <input
                                type="number"
                                class="numeric-input attribute"
                                id="attribute_{{ attribute.name }}"
                                name="data.attributes.{{ attribute.name }}.value"
                                value="{{ attribute.value.value }}"
                                {{#if attribute.readonly}}
                                    readonly
                                {{/if}}
                            />
                    </td>
                    <td>
                        {{signed attribute.value.modifier}}
                    </td>
                    <td>
                        ={{signed attribute.value.total}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
</div>