{{#if isEditable}}
    <div class="mb-1 mt-1">
        <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-action="roll-initiative"
        >
            <i class="fas fa-dice"></i> Initiative
        </button>
        <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-text="Dodge"
                data-action="roll"
                data-pool="attributes.Reaction+attributes.Intuition"
        >
            <i class="fas fa-dice"></i> Dodge ({{ actor.data.derived.dodge }})
        </button>
        <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-text="Soak"
                data-action="roll"
                data-pool="attributes.Body"
                data-ignore-wounds
        >
            <i class="fas fa-dice"></i> Soak ({{ actor.data.derived.soak }})
        </button>

        <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-text="Lift/Carry"
                data-action="roll"
                data-pool="attributes.Body+attributes.Willpower"
        >
            <i class="fas fa-dice"></i> Lift ({{ actor.data.derived.lift }})
        </button>

        <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-text="Sprint"
                data-action="roll"
                data-pool="attributes.Agility+skills.Athletics"
                {{ is_untrained actor 'Athletics' 'data-untrained' }}
        >
            <i class="fas fa-dice"></i> Sprint ({{ actor.data.derived.sprint }})
        </button>

        {{#if actor.data.settings.drain_attribute}}
            <button
                class="btn-sm btn-roll mb-1"
                type="button"
                data-text="Soak Drain"
                data-action="roll"
                data-pool="attributes.{{ actor.data.settings.drain_attribute }}+attributes.{{ actor.data.settings.drain_attribute2 }}"
            >
                <i class="fas fa-dice"></i> Drain  ({{ actor.data.derived.drain }})
            </button>
        {{/if}}
    </div>
{{/if}}

<div class="mb-2">
    <div>
        <strong>Defense Rating:</strong> {{ actor.data.defense_rating.total }}
    </div>

    <div>
        <strong>Initiative:</strong> {{ actor.data.initiative.dice.total }}d6 + {{ actor.data.initiative.modifier.total }}
    </div>

    <div>
        <em>1 major action, {{ actor.data.initiative.dice.total }} minor actions</em>
    </div>
</div>

<div class="row">
    <div class="col">
        <div><strong>Physical</strong></div>
        <label>
            Damage:
            <input type="number" class="numeric-input" name="data.condition_monitor.physical.damage" value="{{ actor.data.condition_monitor.physical.damage}}" />
        </label>
        <label>
            CM: <input type="number" class="numeric-input" name="data.condition_monitor.physical.max" value="{{ actor.data.condition_monitor.physical.max}}" />
        </label>

        <div>
            {{ actor.data.condition_monitor.physical.penalty }} wound penalties
        </div>
    </div>

    <div class="col">
        <div><strong>Stun</strong></div>
        <label>
            Damage:
            <input type="number" class="numeric-input" name="data.condition_monitor.stun.damage" value="{{ actor.data.condition_monitor.stun.damage}}" />
        </label>
        <label>
            CM:
            <input type="number" class="numeric-input" name="data.condition_monitor.stun.max" value="{{ actor.data.condition_monitor.stun.max}}" />
        </label>
        <div>
            {{ actor.data.condition_monitor.stun.penalty }} wound penalties
        </div>
    </div>

    <div class="col">
        <div><strong>Edge</strong></div>
        <label>
            Pool:
            <input type="number" class="numeric-input" name="data.edge.value" value="{{ actor.data.edge.value}}" />
        </label>
    </div>
</div>

<div>
    {{{ partial 'character/weapons.html' }}}
</div>

<div>
    {{{ partial 'character/armour.html' }}}
</div>