<div class="col-contacts mb-2">
    <table>
        {{#if isEditable}}
        <tr>
            <th>Contact</th>
            <th>Type</th>
            <th>Connection</th>
            <th>Loyalty</th>
            <th style="text-align: right">
                <button
                        class="btn-sm btn-new"
                        type="button"
                        data-action="add-item"
                        data-item-type="contact"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </th>
        </tr>
        {{/if}}

        {{#each items.contact as |contact index|}}
            <tr class="{{ contact.data.data.derived.classes }}">
                <td>
                    {{ contact.data.name }}
                </td>

                <td>{{ contact.data.data.type }}</td>
                <td>{{ contact.data.data.connection }}</td>
                <td>{{ contact.data.data.loyalty }}</td>
                <td style="text-align: right">
                    {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ contact.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ contact.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>