<div class="col-skills mb-2">
    <div>
        {{#if isEditable}}
        <button
                class="btn-sm btn-new"
                type="button"
                data-action="add-item"
                data-item-type="effect"
        >
            <i class="fas fa-plus"></i>
        </button>
        {{/if}}

        <strong>Effects</strong>
    </div>

    {{#each items.effect as |effect index|}}
    <div class="mb-1 button-grid">
        <div class="grid-buttons">
            {{#if ../isEditable}}
            <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ effect.data._id }}" type="button">
                <i class="fas fa-trash"></i>
            </button>

            <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ effect.data._id }}" type="button">
                <i class="fas fa-edit"></i>
            </button>
            {{/if}}
        </div>

        <div class="grid-content">
            {{ effect.data.name }}
        </div>

    </div>
    {{/each}}
</div>