<div class="col-skills mb-2">
    {{#if isEditable}}
        <div style="text-align: right">
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="power"
            >
                <i class="fas fa-plus"></i>
            </button>
        </div>
    {{/if}}

    {{#if items.power.length}}
        {{#each items.power as |power index|}}
            <div class="mb-1 button-grid">
                <div class="grid-buttons">
                    {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ power.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ power.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    {{/if}}
                </div>

                <div class="grid-content">
                    {{#if power.data.data.equipped}}
                        <span style="color: green;">
                            ✓
                        </span>
                    {{else}}
                        <span style="color: red;">
                            ✗
                        </span>
                    {{/if}}

                    {{ power.data.name }}
                </div>

            </div>
        {{/each}}
    {{else}}
        <div>
            <em>No Powers.</em>
        </div>
    {{/if}}
</div>