<div class="col-skills mb-2">
    {{#if isEditable}}
        <div style="text-align: right">
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="quality"
            >
                <i class="fas fa-plus"></i>
            </button>
        </div>
    {{/if}}

    {{#if items.quality.length}}
        {{#each items.quality as |quality index|}}
            <div class="mb-1 button-grid">
                <div class="grid-buttons">
                    {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ quality.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ quality.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                    {{/if}}
                </div>

                <div class="grid-content">
                    {{ quality.data.name }}
                </div>

            </div>
        {{/each}}
    {{else}}
        <div>
            <em>No Qualities</em>
        </div>
    {{/if}}
</div>