<div>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Intuition + skills.Piloting + rigging"
            data-text="Evasion (Rigged)"
            type="button"
    >
        <i class="fas fa-dice"></i> Evade
    </button>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Intuition + skills.Piloting + rigging"
            data-text="Control (Rigged)"
            type="button"
    >
        <i class="fas fa-dice"></i> Control
    </button>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="drone.attributes.Body"
            data-ignore-wounds="1"
            data-text="Soak (Rigged)"
            type="button"
    >
        <i class="fas fa-dice"></i> Soak ({{ drone.data.data.attributes.Body.total }})
    </button>
</div>

<!-- todo - condition monitor -->
<!-- todo - current speed -->

<div class="row mb-2 mt-2">
    <div class="col">
        <label class="d-block">
            Speed: <input type="number" class="numeric-input" data-entity="Actor" data-linked="{{ drone.data._id }}" data-attribute="data.current_speed" value="{{ drone.data.data.current_speed }}" />
        </label>
        <div>
            Speed Penalty: {{ drone.data.data.speed_penalty }}
        </div>
    </div>
    <div class="col">
        <div>
            Condition:
            <input type="number" class="numeric-input" data-entity="Actor" data-linked="{{ drone.data._id }}" data-attribute="data.condition_monitor.physical.damage" value="{{ drone.data.data.condition_monitor.physical.damage }}" />
            /
            {{ drone.data.data.condition_monitor.physical.max }}
        </div>
        <div>
            Terrain:
            <select data-entity="Actor" data-linked="{{ drone.data._id }}" data-attribute="data.handling">
                {{#select drone.data.data.handling}}
                    <option value="OnroadHandling">Road</option>
                    <option value="OffroadHandling">Offroad</option>
                {{/select}}
            </select>
        </div>
        <div>
            Threshold: {{ handlingThreshold }}
        </div>
    </div>
</div>

<div class="col-weapons mb-2">
    <table>
        <tr>
            <th>Weapon</th>
            <th>Attack Rating</th>
            <th>Damage</th>
            <th>Fire Modes</th>
            <th style="text-align: right">

            </th>
        </tr>

        {{#if droneWeapons.length}}
            {{#each droneWeapons as |weapon index|}}
                <tr class="{{ weapon.data.data.derived.classes }}">
                    <td>
                        {{ weapon.data.name }}
                    </td>

                    <td style="text-align: center">{{ prop weapon 'attack_rating' }}</td>
                    <td style="text-align: center">{{ prop weapon 'damage_value' }}</td>
                    <td style="text-align: center">{{ weapon.data.data.modes }}</td>
                    <td style="text-align: right">
                        {{#if ../isEditable}}
                        <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ weapon.data._id }}" type="button">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ weapon.data._id }}" type="button">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button
                            class="btn-sm btn-roll"
                            data-action="roll"
                            data-pool="attributes.Logic + skills.Engineering + rigging"
                            data-text="{{ weapon.data.name }} (Rigged) attack"
                            type="button"
                            {{#if ../hasGunneryExpertise}} data-expertise {{/if}}
                            {{#if ../hasGunnerySpecialty}} data-specialty {{/if}}
                            {{#if weapon.data.data.uses_wild_die}} data-wild="1" {{/if}}
                            {{disabled weapon.data.data.derived.is_not_rollable}}
                        >
                            <i class="fas fa-dice"></i>
                        </button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="4" style="font-style: italic">No weapons</td>
            </tr>
        {{/if}}
    </table>
</div>