<div class="col-skills mb-2">
    <h2>Help</h2>

    <h3>Matrix</h3>
    AR initiative is Reaction + Intuition. Cold sim initiative is 2D6 + Intuition + Data Processing, Hot sim initiative is 3D6 + Intuition + Data Processing.

    <h3 class="mt-2">Rigging</h3>
    <div>
        Rigging requires that you have a skill named 'Engineering' with specialty/expertise named 'Gunnery' (if relevant), matching is done by name. The only vehicles you can rig are vehicles that have the same ownership as you.
    </div>
    <div>
        All tests involving driving the vehicle use Handling as a threshold (based on on/offroad) and suffer from the speed penalty.
    </div>

    <h2>
        Settings
    </h2>

    <table>
        <tr>
            <td>
                <label for="is_rigger">Rigger?</label>
            </td>
            <td>
                <input id="is_rigger" type="checkbox" name="data.settings.rigger" {{checked actor.data.settings.rigger}} />
            </td>
        </tr>
        {{#if actor.data.settings.rigger}}
            <tr>
                <td>
                    <label for="rcu">Rigger Control Unit</label>
                </td>
                <td>
                    <select id="rcu" name="data.rigging.rcu">
                        {{#select actor.data.rigging.rcu}}
                            <option value=""></option>
                            {{#each items.cyberware as |ware|}}
                                <option value="{{ ware.data._id }}">{{ ware.data.name }}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        {{/if}}
        <tr>
            <td>
                <label for="lost_essence">Lost Essence:</label>
            </td>
            <td>
                <input type="number" class="numeric-input" id="lost_essence" name="data.attributes.Essence.lost" value="{{ actor.data.attributes.Essence.lost }}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="essence_hole">Extra Essence Hole:</label>
            </td>
            <td>
                <input type="number" class="numeric-input" id="essence_hole" name="data.attributes.Essence.hole" value="{{ actor.data.attributes.Essence.hole }}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="physical_divisor">Physical Divisor:</label>
            </td>
            <td>
                <input type="number" class="numeric-input" id="physical_divisor" name="data.condition_monitor.physical.divisor" value="{{ actor.data.condition_monitor.physical.divisor }}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="physical_divisor">Stun Divisor:</label>
            </td>
            <td>
                <input type="number" class="numeric-input" id="stun_divisor" name="data.condition_monitor.stun.divisor" value="{{ actor.data.condition_monitor.stun.divisor }}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="magic">Magical Ability:</label>
            </td>
            <td>
                <select id="magic" name="data.magic">
                    {{#select actor.data.magic}}
                    <option value=""></option>
                    <option value="magic">Magic</option>
                    <option value="resonance">Resonance</option>
                    {{/select}}
                </select>
            </td>
        </tr>
        {{#if actor.data.magic}}
            <tr>
                <td>
                    <label for="drain_attribute">Drain Attribute:</label>
                </td>
                <td>
                    <select id="drain_attribute" name="data.settings.drain_attribute">
                        {{#select actor.data.settings.drain_attribute}}
                            <option value=""></option>
                            <option value="Body">Body</option>
                            <option value="Agility">Agility</option>
                            <option value="Reaction">Reaction</option>
                            <option value="Strength">Strength</option>
                            <option value="Willpower">Willpower</option>
                            <option value="Logic">Logic</option>
                            <option value="Intuition">Intuition</option>
                            <option value="Charisma">Charisma</option>
                        {{/select}}
                    </select>
                    +
                    <select id="drain_attribute2" name="data.settings.drain_attribute2">
                        {{#select actor.data.settings.drain_attribute2}}
                        <option value=""></option>
                        <option value="Body">Body</option>
                        <option value="Agility">Agility</option>
                        <option value="Reaction">Reaction</option>
                        <option value="Strength">Strength</option>
                        <option value="Willpower">Willpower</option>
                        <option value="Logic">Logic</option>
                        <option value="Intuition">Intuition</option>
                        <option value="Charisma">Charisma</option>
                        {{/select}}
                    </select>
                </td>
            </tr>
        {{/if}}
    </table>
</div>