<div class="col-skills mb-2">
    {{#if isEditable}}
        <div style="text-align: right">
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="skill"
            >
                <i class="fas fa-plus"></i>
            </button>
        </div>
    {{/if}}

    {{#if items.skill.length}}
        {{#each items.skill as |skill index|}}
            <div class="mb-1 button-grid">
                <div class="grid-buttons">
                    {{#if ../isEditable}}
                        <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ skill.data._id }}" type="button">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ skill.data._id }}" type="button">
                            <i class="fas fa-edit"></i>
                        </button>

                        {{#if ../rigging}}
                            <button class="btn-sm btn-roll" data-action="roll" data-pool="attributes.{{rigger_attribute skill.data.data.attribute }} + skills.{{ skill.data.name }} + rigging" data-text="{{ skill.data.name }} (Rigging)" type="button">
                                <i class="fas fa-dice"></i>
                            </button>
                        {{else}}
                            <button class="btn-sm btn-roll" data-action="roll" data-pool="attributes.{{ skill.data.data.attribute }} + skills.{{ skill.data.name }}" data-text="{{ skill.data.name }}" type="button">
                                <i class="fas fa-dice"></i>
                            </button>
                        {{/if}}
                    {{/if}}
                </div>

                <div class="grid-content">
                    <div>
                        {{ skill.data.name }}
                        ({{ skill.data.data.ranks }})
                    </div>

                    <div style="text-align: right">
                        {{#if skill.data.data.specialty}}
                        ({{ skill.data.data.specialty }} +2)
                        {{/if}}

                        {{#if skill.data.data.expertise}}
                        ({{ skill.data.data.expertise }} +3)
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div>
            <em>No skills.</em>
        </div>
    {{/if}}
</div>