{{#if isEditable}}
    <div class="mb-1 mt-1">
        <button
            class="btn-sm btn-roll"
            type="button"
            data-text="Composure"
            data-action="roll"
            data-pool="attributes.Willpower+attributes.Charisma"
        >
            <i class="fas fa-dice"></i> Composure ({{ actor.data.derived.composure }})
        </button>

        <button
            class="btn-sm btn-roll"
            type="button"
            data-text="Judge Intentions"
            data-action="roll"
            data-pool="attributes.Willpower+attributes.Intuition"
        >
            <i class="fas fa-dice"></i> Judge Intentions ({{ actor.data.derived.intentions }})
        </button>

        <button
            class="btn-sm btn-roll"
            type="button"
            data-text="Memory"
            data-action="roll"
            data-pool="attributes.Logic+attributes.Intuition"
        >
            <i class="fas fa-dice"></i> Memory ({{ actor.data.derived.memory }})
        </button>
    </div>
{{/if}}

<div>
    {{{ partial 'character/contacts.html' }}}
</div>

<label class="d-block">
    Metatype:
    <input type="text" name="data.metatype" value="{{ actor.data.metatype }}" />
</label>

<label class="d-block">
    Knowledges:
    <textarea name="data.knowledges">{{ actor.data.knowledges }}</textarea>
</label>

<label class="d-block">
    Description:
    <textarea name="data.description">{{ actor.data.description }}</textarea>
</label>