<div class="col-spells mb-2">
    {{#if isEditable}}
        <div style="text-align: right">
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="spell"
            >
                <i class="fas fa-plus"></i>
            </button>
        </div>
    {{/if}}

    {{#if items.spell.length}}
        {{#each items.spell as |spell index|}}
            <div class="mb-1 button-grid">
                <div class="grid-buttons">
                    {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ spell.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ spell.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button
                        class="btn-sm btn-roll"
                        data-action="roll"
                        data-pool="{{ prop spell 'casting_roll' }}"
                        data-text="Casting {{ spell.data.name }}"
                        {{#if spell.data.data.derived.is_specialty}}
                        data-specialty
                        {{/if}}
                        {{#if spell.data.data.derived.is_expertise}}
                        data-expertise
                        {{/if}}
                        type="button"
                    >
                        <i class="fas fa-dice"></i>
                    </button>
                    {{/if}}
                </div>

                <div class="grid-content">
                    <div>
                        {{ spell.data.name }}
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div>
            <em>No Spells.</em>
        </div>
    {{/if}}
</div>