<div class="col-weapons mb-2">
    <table>
        <tr>
            <th>Weapon</th>
            <th>Attack Rating</th>
            <th>Damage</th>
            <th>Fire Modes</th>
            <th style="text-align: right">

            </th>
        </tr>

        {{#if weapons.length}}
            {{#each weapons as |weapon index|}}
                <tr class="{{ weapon.data.data.derived.classes }}">
                    <td>
                        {{ weapon.data.name }}
                    </td>

                    <td style="text-align: center">{{ prop weapon 'attack_rating' }}</td>
                    <td style="text-align: center">{{ prop weapon 'damage_value' }}</td>
                    <td style="text-align: center">{{ weapon.data.data.modes }}</td>
                    <td style="text-align: right">
                        {{#if ../isEditable}}
                        <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ weapon.data._id }}" type="button">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ weapon.data._id }}" type="button">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button
                            class="btn-sm btn-roll"
                            data-action="roll"
                            data-pool="{{ prop weapon 'attack_roll' }}"
                            data-text="{{ weapon.data.name }} attack"
                            type="button"
                            {{#if weapon.data.data.derived.is_expertise}} data-expertise {{/if}}
                            {{#if weapon.data.data.derived.is_specialty}} data-specialty {{/if}}
                            {{#if weapon.data.data.uses_wild_die}} data-wild="1" {{/if}}
                            {{disabled weapon.data.data.derived.is_not_rollable}}
                        >
                            <i class="fas fa-dice"></i>
                        </button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="4" style="font-style: italic">No weapons</td>
            </tr>
        {{/if}}
    </table>
</div>