{{#if actor}}
<label class="d-block">
    <span class="label">Skill:</span>
    <select name="data.skill">
        {{#select item.data.skill}}
        <option value=""></option>
        {{#each skills as |skill|}}
        <option value="{{ skill.data._id }}">{{ skill.data.name }}</option>
        {{/each}}
        {{/select}}
    </select>
</label>

<label class="d-block">
    <span class="label">Specialised:</span>
    <select name="data.specialised">
        {{#select item.data.specialised}}
        <option value=""></option>
        <option value="specialty">Specialty (+2)</option>
        <option value="expertise">Expertise (+3)</option>
        {{/select}}
    </select>
</label>

<label class="d-block">
    <span class="label">Equipped:</span>
    <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} />
</label>

{{/if}}

<label class="d-block">
    <span class="label">Wild Die:</span>
    <input type="checkbox" name="data.uses_wild_die" {{checked item.data.uses_wild_die}} />
</label>

<label class="d-block">
    <span class="label">Attack Rating:</span>
    <input type="text" name="data.attack_rating" value="{{ item.data.attack_rating }}" />
</label>

<label class="d-block">
    <span class="label">Damage Value:</span>
    <input type="text" name="data.damage_value" value="{{ item.data.damage_value }}" />
</label>