<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{ item.data.description }}

        <label class="d-block">
            <span class="label">Attribute:</span>
            <select name="data.attribute">
                {{#select item.data.attribute}}
                    <option value="OnroadHandling">Onroad Handling</option>
                    <option value="OffroadHandling">Offroad Handling</option>
                    <option value="Acceleration">Acceleration</option>
                    <option value="SpeedInterval">Speed Interval</option>
                    <option value="TopSpeed">Top Speed</option>
                    <option value="Body">Body</option>
                    <option value="Armor">Armor</option>
                    <option value="Pilot">Pilot</option>
                    <option value="Sensor">Sensor</option>
                    <option value="Seats">Seats</option>
                {{/select}}
            </select>
        </label>

        {{#if actor}}
            <label class="d-block">
                <span class="label">Ranks:</span>
                <input type="number" class="numeric-input" name="data.ranks" value="{{ item.data.ranks }}" />
            </label>
        {{/if}}
    </section>
</form>