<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        <label class="d-block">
            <strong>Rating:</strong>
            <input type="number" class="numeric-input" name="data.rating" value="{{ item.data.rating }}" />
        </label>

        <label class="d-block">
            <strong>Essence cost:</strong>
            <input type="number" class="numeric-input" name="data.essence" value="{{ item.data.essence }}" />
        </label>

        <label class="d-block">
            <strong>Effects:</strong>
            <textarea name="data.effects">{{ item.data.effects}}</textarea>
        </label>

        <label class="d-block">
            <strong>Modifiers:</strong>
            <textarea name="data.modifiers">{{ item.data.modifiers }}</textarea>
        </label>

        <label class="d-block">
            <strong>Description:</strong>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>