<form class="{{cssClass}} character-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ actor.img }}" style="height: auto; max-width: 100px; " title="{{ actor.name }}" data-edit="img" />

        <section class="header-details">
            <h1 class="charname">
                <input type="text" name="name" value="{{ actor.name }}" />
            </h1>
            <div>
                {{#each items.effect as |effect|}}
                <img src="{{ effect.img }}" style="height: auto; width: 30px; border: 1px solid #999; margin-right: 5px;" alt="{{ effect.data.name }}" title="{{ effect.data.name }} - {{ effect.data.data.description }}" />
                {{/each}}
            </div>
        </section>

        <section class="meta">

            <label class="d-block">
                <span class="d-block">Karma Earnt:</span>
                <input type="number" class="numeric-input" name="data.karma.earnt" value="{{ actor.data.karma.earnt }}" />
            </label>

            <label class="d-block">
                <span class="d-block">Karma Spent:</span>
                <input type="number" class="numeric-input" name="data.karma.spent" value="{{ actor.data.karma.spent }}" />
            </label>

            <label class="d-block">
                <span class="d-block">Available:</span>
                <input disabled type="number" class="numeric-input" name="data.karma.available" value="{{ actor.data.karma.available }}" />
            </label>

        </section>

        <section class="meta">

            <label class="d-block">
                <span class="d-block">Nuyen:</span>
                <input type="number" name="data.nuyen" value="{{ actor.data.nuyen }}" />
            </label>

            <label class="d-block">
                <span class="d-block">Lifestyle:</span>
                <input type="number" name="data.lifestyle" value="{{ actor.data.lifestyle }}" />
            </label>

            {{#if actor.data.settings.rigger}}
                <label class="d-block">
                    <span class="d-block">Rigging:</span>
                    <select name="data.rigging.drone">
                        <option value=""></option>
                        {{#select actor.data.rigging.drone}}
                            {{#each riggable as |drone|}}
                                <option value="{{ drone.id }}">{{ drone.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </label>
            {{/if}}
        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="tab-detail">Character</a>
        <a class="item" data-tab="tab-gear">Gear</a>
        <a class="item" data-tab="tab-settings">Settings</a>
        <a class="item" data-tab="tab-debug">Debug</a>
    </nav>

    <section class="sheet-body mb-2">
        <div class="tab tab-detail" data-group="primary" data-tab="tab-detail">
            {{{ partial 'character/attributes.html' }}}

            <div class="row">
                <div class="col col-4">
                    <nav class="sheet-navigation item-tabs" data-group="items">
                        <a class="item active" data-tab="tab-skills">Skills</a>
                        <a class="item" data-tab="tab-qualities">Qualities</a>
                        {{#if actor.data.magic}}
                            <a class="item" data-tab="tab-powers">Powers</a>
                            <a class="item" data-tab="tab-spells">Spells</a>
                        {{/if}}
                    </nav>

                    <div class="sheet-items-body">
                        <div class="tab tab-skills" data-group="items" data-tab="tab-skills">
                            {{{ partial 'character/skills.html' }}}
                        </div>
                        <div class="tab tab-qualities" data-group="items" data-tab="tab-qualities">
                            {{{ partial 'character/qualities.html' }}}
                        </div>
                        <div class="tab tab-powers" data-group="items" data-tab="tab-powers">
                            {{{ partial 'character/powers.html' }}}
                        </div>
                        <div class="tab tab-spells" data-group="items" data-tab="tab-spells">
                            {{{ partial 'character/spells.html' }}}
                        </div>
                    </div>
                </div>
                <div class="col col-8 border-left-1 p-1">

                    <nav class="sheet-navigation sub-tabs" data-group="secondary">
                        <a class="item active" data-tab="tab-combat">Combat</a>
                        <a class="item" data-tab="tab-social">Social</a>
                        <a class="item" data-tab="tab-effects">Effects</a>
                        {{#if rigging}}
                            <a class="item" data-tab="tab-rigging">Drone/Vehicle</a>
                        {{/if}}
                    </nav>

                    <div class="sheet-sub-body" style="min-height: 500px;">
                        <div class="tab tab-combat" data-group="secondary" data-tab="tab-combat">
                            {{{ partial 'character/combat.html' }}}
                        </div>
                        <div class="tab tab-effects" data-group="secondary" data-tab="tab-effects">
                            {{{ partial 'character/effects.html' }}}
                        </div>
                        <div class="tab tab-social" data-group="secondary" data-tab="tab-social">
                            {{{ partial 'character/social.html' }}}
                        </div>
                        <div class="tab tab-rigging" data-group="secondary" data-tab="tab-rigging">
                            {{{ partial 'character/rigging.html' }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab tab-gear" data-group="primary" data-tab="tab-gear">
            {{{ partial 'character/gear.html' }}}
        </div>

        <div class="tab tab-settings" data-group="primary" data-tab="tab-settings">
            {{{ partial 'character/settings.html' }}}
        </div>

        <div class="tab tab-debug" data-group="primary" data-tab="tab-debug">
            {{{ partial 'character/debug.html' }}}
        </div>
    </section>
</form>