<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        <label class="d-block">
            Loyalty:
            <input type="text" class="numeric-input" name="data.loyalty" value="{{ item.data.loyalty }}" />
        </label>

        <label class="d-block">
            Connection:
            <input type="text" class="numeric-input" name="data.connection" value="{{ item.data.connection }}" />
        </label>

        <label class="d-block">
            Type:
            <input type="text" name="data.type" value="{{ item.data.type }}" />
        </label>

        <label class="d-block">
            Description:
            <textarea name="data.description">{{ item.data.description}}</textarea>
        </label>
    </section>
</form>