<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{#if actor}}
        <label class="d-block">
            <span class="label">Equipped:</span>
            <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} />
        </label>
        {{/if}}

        <label class="d-block">
            <strong>Grade:</strong>
            <select name="data.grade">
                {{#select item.data.grade}}
                    <option value="used">Used</option>
                    <option value="standard">Standard</option>
                    <option value="alpha">Alpha</option>
                    <option value="delta">Delta</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <strong>Rating:</strong>
            <input type="number" class="numeric-input" name="data.rating" value="{{ item.data.rating }}" />
        </label>

        <label class="d-block">
            <strong>Essence cost (standard grade):</strong>
            <input type="number" class="numeric-input" name="data.essence" value="{{ item.data.essence }}" />
        </label>

        <label class="d-block">
            <strong>Effects:</strong>
            <textarea name="data.effects">{{ item.data.effects}}</textarea>
        </label>

        <label class="d-block">
            <strong>Modifiers:</strong>
            <textarea name="data.modifiers">{{ item.data.modifiers }}</textarea>
        </label>

        <label class="d-block">
            Wireless:
            <textarea name="data.wireless">{{ item.data.wireless }}</textarea>
        </label>

        <label class="d-block">
            <strong>Description:</strong>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>