<form class="{{cssClass}} character-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ actor.img }}" style="height: auto; max-width: 100px; " title="{{ actor.name }}" data-edit="img" />

        <section class="header-details">
            <h1 class="charname">
                <input type="text" name="name" value="{{ actor.name }}" />
            </h1>
            <div>
                {{#each items.effect as |effect|}}
                    <img src="{{ effect.img }}" style="height: auto; width: 30px; border: 1px solid #999; margin-right: 5px;" alt="{{ effect.data.name }}" title="{{ effect.data.name }} - {{ effect.data.data.description }}" />
                {{/each}}
            </div>
        </section>

        <section class="meta">

        </section>

        <section class="meta">

        </section>
    </header>

    {{#if rigger}}
        <div class="alert alert-warning">This drone is being rigged by {{ rigger.data.name }}.</div>
    {{/if}}

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="tab-detail">Drone/Vehicle</a>
        <a class="item" data-tab="tab-settings">Settings</a>
        <a class="item" data-tab="tab-debug">Debug</a>
    </nav>

    <section class="sheet-body mb-2">
        <div class="tab tab-detail" data-group="primary" data-tab="tab-detail">
            {{{ partial 'drone/attributes.html' }}}

            <div class="row">
                <div class="col col-4">
                    {{{ partial 'drone/autosofts.html' }}}
                </div>

                <div class="col col-8">
                    {{{ partial 'drone/stats.html' }}}
                    {{{ partial 'drone/buttons.html' }}}
                    {{{ partial 'drone/weapons.html' }}}

                    <label class="d-block">
                        <span>Description:</span>
                        <textarea id="description" style="width: 100%" name="data.description">{{ actor.data.description }}</textarea>
                    </label>
                </div>
            </div>
        </div>
<!--        -->
<!--        <div class="tab tab-settings" data-group="primary" data-tab="tab-settings">-->
<!--            {{{ partial 'character/settings.html' }}}-->
<!--        </div>-->

        <div class="tab tab-debug" data-group="primary" data-tab="tab-debug">
            {{{ partial 'drone/debug.html' }}}
        </div>
    </section>
</form>