<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                {{ item.name }}
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{ item.data.description }}
    </section>
</form>