<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{{partial 'items/weapon.html' }}}

        <label class="d-block">
            Fire Modes:
            <input type="text" name="data.modes" value="{{ item.data.modes }}" />
        </label>

        <label class="d-block">
            Ammo:
            <input type="text" name="data.ammo" value="{{ item.data.ammo }}" />
        </label>

        <label class="d-block">
            Wireless:
            <textarea name="data.wireless">{{ item.data.wireless }}</textarea>
        </label>

        <label class="d-block">
            Description:
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>