<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{ item.data.description }}

        <label class="d-block">
            <span class="label">Attribute:</span>
            <select name="data.attribute">
                {{#select item.data.attribute}}
                    <option value="Body">Body</option>
                    <option value="Strength">Strength</option>
                    <option value="Agility">Agility</option>
                    <option value="Reaction">Reaction</option>
                    <option value="Willpower">Willpower</option>
                    <option value="Logic">Logic</option>
                    <option value="Intuition">Intuition</option>
                    <option value="Charisma">Charisma</option>
                    <option value="Magic">Magic</option>
                    <option value="Resonance">Resonance</option>
                {{/select}}
            </select>
        </label>

        {{#if actor}}
            <label class="d-block">
                <span class="label">Ranks:</span>
                <input type="number" class="numeric-input" name="data.ranks" value="{{ item.data.ranks }}" />
            </label>

            <label class="d-block">
                <span class="label">Expertise:</span>
                <input type="text" name="data.expertise" value="{{ item.data.expertise }}" />
            </label>

            <label class="d-block">
                <span class="label">Specialty:</span>
                <input type="text" name="data.specialty" value="{{ item.data.specialty }}" />
            </label>
        {{/if}}
    </section>
</form>