<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input type="text" name="name" value="{{ item.name }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        <label class="d-block">
            Type:
            <select name="data.type">
                {{#select item.data.type}}
                    <option value=""></option>
                    <option value="combat-direct">DirectCombat</option>
                    <option value="combat-indirect">Indirect Combat</option>
                    <option value="detection">Detection</option>
                    <option value="health">Health</option>
                    <option value="illusion">Illusion</option>
                    <option value="manipulation">Manipulation</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            Drain:
            <input type="text" class="numeric-input" name="data.drain" value="{{ item.data.drain }}" />
        </label>

        {{#if item.data.derived.is_combat_spell}}
            <label class="d-block">
                Damage Type:
                <input type="text" name="data.damage_type" value="{{ item.data.damage_type }}" />
            </label>
        {{/if}}

        {{#if actor}}
            <label class="d-block">
                <span class="label">Specialised:</span>
                <select name="data.specialised">
                    {{#select item.data.specialised}}
                    <option value=""></option>
                    <option value="specialty">Specialty (+2)</option>
                    <option value="expertise">Expertise (+3)</option>
                    {{/select}}
                </select>
            </label>
        {{/if}}

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>