<div class="col-autosofts mb-2">
    {{#if isEditable}}
        <div style="float: right">
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="autosoft"
            >
                <i class="fas fa-plus"></i>
            </button>
        </div>
    {{/if}}

    <h2>Autosofts</h2>

    {{#if items.autosoft.length}}
        {{#each items.autosoft as |autosoft index|}}
            <div class="mb-1 button-grid">
                <div class="grid-buttons">
                    {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ autosoft.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ autosoft.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button class="btn-sm btn-roll" data-action="roll" data-pool="attributes.{{ autosoft.data.data.attribute }} + autosofts.{{ autosoft.data.name }}" data-text="{{ autosoft.data.name }}" type="button">
                        <i class="fas fa-dice"></i>
                    </button>
                    {{/if}}
                </div>

                <div class="grid-content">
                    <div>
                        {{ autosoft.data.name }}
                        ({{ autosoft.data.data.ranks }})
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div>
            <em>No autosofts.</em>
        </div>
    {{/if}}
</div>