<div class="mb-2 mt-2">
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Pilot + autosofts.Evasion + handling + speed"
            data-text="Evasion"
            type="button"
    >
        <i class="fas fa-dice"></i> Evade
    </button>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Pilot + autosofts.Maneuvering + handling + speed"
            data-text="Control"
            type="button"
    >
        <i class="fas fa-dice"></i> Control
    </button>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Body"
            data-ignore-wounds="1"
            data-text="Soak"
            type="button"
    >
        <i class="fas fa-dice"></i> Soak
    </button>
    <button
            class="btn-sm btn-roll"
            data-action="roll"
            data-pool="attributes.Body"
            data-ignore-wounds="1"
            data-text="Soak"
            type="button"
    >
        <i class="fas fa-dice"></i> Soak
    </button>
    <button
            class="btn-sm btn-roll mb-1"
            type="button"
            data-action="roll-initiative"
    >
        <i class="fas fa-dice"></i> Initiative
    </button>
</div>