<button
        data-action="dump"
        type="button"
>
    Dump to console
</button>

{{#each items as |list type|}}
    <h2>{{ type }}</h2>
    {{#each list as |item|}}
    <div>{{ item.data.name }}</div>
    {{/each}}
{{/each}}