<div class="kv">

    <div class="kv-key-for-input">
        <label for="handling">
            Terrain:
        </label>
    </div>
    <div class="kv-value">
        <select id="handling" name="data.handling">
            {{#select actor.data.handling}}
            <option value="OnroadHandling">Road</option>
            <option value="OffroadHandling">Offroad</option>
            {{/select}}
        </select>
    </div>

    <div class="kv-key-for-input">
        <label for="current_speed">
            Speed:
        </label>
    </div>
    <div class="kv-value">
        <input type="number" id="current_speed" class="numeric-input" name="data.current_speed" value="{{ actor.data.current_speed }}" />
        ({{ actor.data.speed_penalty }})
    </div>

    <div class="kv-key-for-input">
        <label for="damage">
            Damage:
        </label>
    </div>
    <div class="kv-value">
        <input type="number" id="damage" class="numeric-input" name="data.condition_monitor.physical.damage" value="{{ actor.data.condition_monitor.physical.damage }}" />
        /
        <input type="number" class="numeric-input" name="data.condition_monitor.physical.max" value="{{ actor.data.condition_monitor.physical.max }}" />
    </div>
</div>