<table>
    <tr>
        <th>Cyberware</th>
        <th>Rating</th>
    </tr>

    {{#each items as |item|}}
        <tr class="{{ item.data.data.derived.classes }}">
            <td>
                {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                {{/if}}
                {{ item.data.data.grade }}
                {{ item.data.name }}
            </td>
            <td>{{ item.data.data.rating }}</td>
        </tr>
    {{/each}}
</table>