<table>
    <tr>
        <th>Melee Weapon</th>
        <th>Attack Rating</th>
        <th>Damage Value</th>
    </tr>

    {{#each items as |item|}}
        <tr class="{{ item.data.data.derived.classes }}">
            <td>
                {{#if ../isEditable}}
                <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-trash"></i>
                </button>

                <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-edit"></i>
                </button>
                {{/if}}

                {{ item.data.name }}
            </td>
            <td style="text-align: center">{{ prop item 'attack_rating' }}</td>
            <td style="text-align: center">{{ prop item 'damage_value' }}</td>
        </tr>
    {{/each}}
</table>